

/* Header */
header {
  position: fixed;
  right: 0;
  width: calc(100% - 260px);
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #Fff;
  transition: all 0.5s ease;
  box-shadow:  10px 2px 12px rgba(0, 0, 0, 0.08);
  z-index: 2;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}
header.close {
  width: calc(100% - 60px);
}
.navbar {
  width: 100%;
  height: 100%;
  padding: 0;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
.navbar .user_name {
  display: flex;
  align-items: center;
}
.navbar .user_name_info {
  font-size: 14px;
  color: #484848;
  padding: 0 1.8rem 0 4rem;
}
.navbar .user_name_info b {
  font-family: var(--font-b);
}
.navbar .welcome {
  font-size: 14px;
  margin-right: 2rem;
  color: rgba(72,72,72,.4);
}
.navbar .btn {
  font-family: var(--font-m);
  padding: 0;
  font-size: 14px;
  border-bottom: 1px solid #484848;
}
.btn:focus { box-shadow: none; }
.copyright {
  font-size: 14px;
  color: #484848;
  justify-self: flex-end;
  padding-right: 4rem;
  box-sizing: border-box;
}
.toggle_wrap {
  position: absolute;
  top: 300px;
  left: -20px;
  z-index: 1;
}
.nav-link:focus, .nav-link:hover { color: #fff; }


/* Side Menu */
.side_menu {
  position: fixed;
  width: 260px;
  height: 100%;
  background: #166363;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: 10;
  transition: all .3s ease-in-out;
}
.side_menu.close {
  width: 60px;
}
.side_menu.close .logo_wrap {
  width: 60px;
}
.side_menu.close .logo_wrap a {
  margin-right: -114px;
}
.main_container.close {
  width: calc(100% - 60px);
  left: 60px;
}
.side_menu .logo_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 86px;
  background: #fff;
  border-right: 1px solid #E8E8E8;
  transition: all .3s ease-in-out;
}

.navbar_nav {
  position: relative;
  padding: 16px 0;
  /* background: #135A5A; */
}
.navbar_nav::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: #135A5A;
}

.toggle_btn {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
}
.toggle_btn img {
  margin: 0 auto 0 20px;
}


.nav_item a {
  display: flex;
  align-items: flex-end;
  text-align: left;
  white-space: nowrap;
  color: #fff;
  padding: 20px 20px 20px 27px;
  box-sizing: border-box;
  transition: background-color .3s ease-in-out;
}
.nav_item a:hover {
  color: #fff;
  background: var(--sub-color);
}
.nav_item a img {
  padding-left: 2px;
}
.nav_item a span {
  font-family: var(--font-m);
  font-size: 1.6rem;
  padding-left: 18px;
  box-sizing: border-box;
  transition: padding-left .3s ease-in-out;
}
.router-link-exact-active {
  background: var(--sub-color);
}
.side_menu.close .nav_item a {
  padding: 20px;
}
.side_menu.close .nav_item a span {
  padding-left: 28px;
}

.inner { 
  padding: 4rem !important;
}


/* Chart */
.chart_unit {
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
  color: #848787;
}

/* Back To Top */
.top_btn {
  display: flex;
  position: fixed;
  bottom: 40px;
  right: 0;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #334F51;
}

/* Transform */
.top_move3 {
  transform: translateY(300px);
  -webkit-transform: translateY(300px);
  opacity: 0;
}
@keyframes top_move3 {
  0% {
    transform: translateY(300px);
    -webkit-transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes left_move3 {
  0% {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}


/* 404 Error */
.error_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 8rem;
  width: 100%;
  height: 100vh;
  padding: 14rem 2rem;
  box-sizing: border-box;
}
.error_container .left_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  align-self: flex-start;
}
.error_container .left_wrap .tit_404 {
  font-family: var(--font-p);
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--dark-green);
}
.error_container .left_wrap p {
  font-size: 16px;
  line-height: 1.4;
  color: var(--dark-green);
  margin: 18px 0 5rem;
}
.error_container .left_wrap .btn_wrap button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 48px;
  font-size: 16px;
  color: var(--dark-green);
  background: transparent;
  border: 1px solid var(--dark-green);
  transition: all .3s ease-in-out;
}
.error_container .left_wrap .btn_wrap button:hover {
  color: #fff;
  background: var(--dark-green);
}
.error_container .img_box {
  width: 100%;
  height: 100%;
  max-height: 526px;
}
.error_container .img_box img {
  width: 100%;
  object-fit: cover;
}



/* Table */
.container {
  max-width: 100%;
  width: 100%;
  padding: 4rem 0;
  background: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}
.table_container {
  width: 100%;
}
.table_wrap {
  width: 100%;
  overflow-x: auto;
}
.table {
  width: 100%;
  min-width: 100rem;
  margin-bottom: 3rem;
  border: none;
  --bs-table-hover-bg: #F4F9F9;
}

.table>:not(:first-child) { border-top: none; }
.table th {
  font-family: var(--font-p);
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  padding-bottom: 2rem;
  box-sizing: border-box;
}
.table td {
  width: auto;
  font-family: var(--font-m);
  font-size: 1.6rem;
  text-align: left;
  padding: 1.8rem 1rem 1.8rem 0;
  color: var(--dark-green);
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  box-sizing: border-box;
}
.table td.w_12 {
  width: 12rem;
}
.table td.w_15 {
  width: 15rem;
}
.table td.w_20 {
  width: 20rem;
}
.table td.num {
  font-family: var(--font-p);
}
.table td.tit {
  width: 40rem;
  max-width: 40rem;
  padding-right: 1rem;
  font-family: var(--font-l);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table td.text-center {
  padding-right: 0;
}
.table td.button {
  width: 10rem;
}
.table th:first-child {
  width: 12.8rem;
}
.table th:first-child,
.table td:first-child {
  padding-left: 4rem;
  box-sizing: border-box;
}
.table th:last-child,
.table td:last-child {
  padding-right: 4rem;
  box-sizing: border-box;
}

.main_container {
  position: absolute;
  width: calc(100% - 260px);
  left: 260px;
  /* min-height: 100vh; */
  /* padding-bottom: 5rem; */
  transition: all 0.5s ease;
  overflow-x: hidden;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

.main_wrap {
  width: 100%;
  min-height: 100vh;
  padding: 86px 4rem 6.2rem;
  background: #F5F5F5;
  box-sizing: border-box;
}
.table_tit {
  font-family: var(--font-b);
  font-size: 2.6rem;
  text-align: left;
  padding: 3.6rem 0 3.4rem;
  color: var(--dark-green);
}
.top_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
  width: 100%;
  padding: 0 3.6rem;
  margin-bottom: 2.8rem;
  box-sizing: border-box;
}
.top_box .top_tit {
  font-family: var(--font-b);
  font-size: 2rem;
  color: var(--dark-green);
}

.search_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.search_box {
  position: relative;
}
.search_box input {
  width: 31rem;
  height: 4rem;
  padding: 0 1.8rem;
  border-color: #DFDFDF;
  border-radius: 32px;
  box-sizing: border-box;
}
.search_box input::placeholder {
  font-family: var(--font-m);
  font-size: 13px;
  color: #C5C5C5;
}
.search_box .search_btn {
  position: absolute;
  top: 50%;
  right: 10px;
  background: transparent;
  transform: translateY(-50%);
}
.write_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  width: 10.4rem;
  height: 4rem;
  font-family: var(--font-m);
  font-size: 14px;
  color: #fff;
  background: var(--main-color);
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}


/* 일치 불일치 스타일 */
.pw_msg {
  font-size: 1.6rem;
  margin-left: 10px;
}
.pw_same { color: #63C179; }
.pw_discord { color: #E54141; }


/* Input Box */
.input_box {
  text-align: left;
  margin-bottom: 2.4rem;
}
.input_box label,
.file_box label {
  width: 100%;
  font-family: var(--font-b);
  font-size: 14px;
  text-align: left;
  margin-bottom: 7px;
  color: #313131;
}
.input_box input {
  padding: 1.8rem;
  background: #F6F6F6;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
}
.input_box .form-control:focus {
  background: #F6F6F6;
}
.input_box input::placeholder,
.content_textarea::placeholder {
  color: #C1C1C1;
}
.content_textarea {
  width: 100%;
  font-family: var(--font-l);
  padding: 1.8rem;
  line-height: 1.4;
  background: #f6f6f6;
  border-radius: 6px;
  box-sizing: border-box;
}
.file_box .input-group {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.file_box .input-group input {
  max-width: 320px;
  color: #C1C1C1;
  background: #f6f6f6;
  border: none;
  border-radius: 6px !important;
}
.form-control::-webkit-file-upload-button { 
  border: none;
}

.private_wrap {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin: 2.4rem 0;
}

.toggle_switch::selection,
.toggle_switch:after::selection,
.toggle_switch:before::selection,
.toggle_switch *::selection,
.toggle_switch *:after::selection,
.toggle_switch *:before::selection,
.toggle_switch +.switch-btn::selection {
  background: none;
}

.toggle_switch+.switch-btn {
  outline: 0;
  display: block;
  width: 40px;
  height: 20px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.toggle_switch+.switch-btn:after,
.toggle_switch+.switch-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.toggle_switch +.switch-btn:after {
  left: 0;
}
.toggle_switch +.switch-btn:before {
  display: none;
}
.toggle_switch:checked+.switch-btn:after {
  left: 50%;
}
.toggle_switch +.switch-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.toggle_switch +.switch-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.toggle_switch:checked +.switch-btn {
  background: var(--main-color);
}

.btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.ro_btn {
  width: 16.7rem;
  height: 50px;
  font-family: var(--font-b);
  font-size: 16px;
  color: #fff;
  background: var(--main-color);
  border-radius: 25px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.08);
}
.ro_btn.gray {
  background: #9B9B9B;
}

/* Pagination */
.page-link {
  font-family: 'Be Vietnam Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 36px;
  height: 36px;
  color: #484848;
  border: none;
  border-radius: 50%;
}
.page-link:hover {
  color: #484848;
  background: #E7F2F2;
}
.page-link[aria-label="Previous"]:hover,
.page-link[aria-label="Next"]:hover {
  background: transparent;
}
.page-item.disabled .page-link {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #B7B7B7;
}

.page-item.active .page-link {
  color: #484848;
  background: #E7F2F2;
  border-radius: 50%;
}

/* Footer */
footer {
  display: none;
  font-size: 12px;
  text-align: left;
  padding: 2rem 4rem;
  background: #F5F5F5;
  color: #484848;
  opacity: .4;
  box-sizing: border-box;
  z-index: 10;
}



@media screen and (max-width: 1150px) {
  .copyright { display: none; }
  footer { display: block; }
  .navbar { padding: 0 2rem;}
  .navbar .user_name {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 4px;
    width: 100%;
    min-width: 80%;
  }
  .navbar .user_name_info {
    font-size: 14px;
    color: #484848;
    padding: 0 1.8rem 0 0rem;
  }
  .collapse:not(.show) {
    width: 50px;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1024px) {
  .top_box { 
    flex-direction: column; 
    align-items: flex-start;
    padding: 0 2rem;
  }
  .top_box .top_tit { margin-bottom: 2rem; }
  .write_btn {
    position: absolute;
    top: -10px;
    right: 2rem;
  }
}

@media screen and (max-width: 780px) {
  .top_btn { display: none; }
  .inner { padding: 4rem 2rem !important; }
  header {
    width: calc(100% - 60px);
    height: 70px;
  }
  header.close {
    width: calc(100% - 260px);
  }

  .side_menu { width: 60px; }
  .side_menu.close {
    width: 260px;
  }
  .side_menu .logo_wrap { height: 70px; }
  .side_menu.close .logo_wrap {
    width: 60px;
  }

  .side_menu .logo_wrap { width: 60px; }
  .side_menu.close .logo_wrap { width: 260px; }
  .side_menu .logo_wrap a { margin-right: -114px}
  .side_menu.close .logo_wrap a {
    margin-right: 0;
  }
  .side_menu .nav_item a span { padding-left: 30px; }
  .side_menu.close .nav_item a span { padding-left: 18px; }
  .nav_item a { padding-left: 22px; }

  .main_container {
    width: calc(100% - 60px);
    left: 60px;
  }
  .main_container.close {
    width: calc(100% - 260px);
    left: 260px;
  }

  .main_wrap { padding: 86px 2rem 6.2rem; }
}

@media screen and (max-width: 480px) {
  .search_wrap,
  .search_box { width: 100%; }
  .search_box input { width: 100%;}

  .error_container { padding: 6rem 2rem; }
  .error_container .left_wrap .tit_404 { font-size: 11rem; }
  .error_container .left_wrap p { font-size: 1.8rem; }
}